<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">  
  </head>
  <body>
    <h1>Welcome to the IT122 Dealership!</h1>

    <h3><a href="/">Home</a></h3>
    <h3>Hi, stranger! Here's details about your car selection:</h3>

      <li> Year: <%= `${car.year}` %> </li>
      <li> Make: <%= `${car.make}` %> </li>
      <li> Model: <%= `${car.model}` %> </li>
      <li> Engine: <%= `${car.engine}` %> </li>
      <li> Mileage: <%= `${car.miles}` %> </li>
      <li> Car ID number: <%= `${ car._id}` %> </li>


    <h3><a href="/about">About</a></h3>


  </body>
</html>