<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">  
  </head>
  <body>
    <h1>Welcome to the IT122 Dealership!</h1>

    <h3><a href="/">Home</a></h3>
    <h3>Hi, stranger! Here's details about your car selection:</h3>

      <li> Year: <%= cars.year %> </li>
      <li> Make: <%= cars.make %> </li>
      <li> Model: <%= cars.model %> </li>
      <li> Engine: <%= cars.engine %> </li>
      <li> Mileage: <%= cars.miles %> </li>
      <li> Car ID number: <%= cars.id %> </li>

    <h3><a href="/about">About</a></h3>

  </body>
</html>